@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
body {
    font-family: 'Sigmar One', cursive;
    background-color:  black;
    text-align: center;
}
p{
    color: red;
}
h1{
    color: white;
}